@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
input {
  font-family: "Poppins", sans-serif !important;
}

input {
  font-weight: 500 !important;
}

body {
  background: #fafafa;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.logoAndHeaderContainer {
  background: #f9f9f9;
  margin: -15px -15px 15px -15px;
  padding: 20px;
}

.logo {
  width: 80px;
  text-align: center;
  margin: auto;
  display: block;
}

.RegisterHeading {
  font-size: 25px;
  color: #e24c3f;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.loadingBar {
  margin: -30px;
}

.subHeader {
  bottom: 20px;
  position: relative;
  font-size: 11px;
  text-align: center;
  display: block;
}

.headerMain {
  text-align: center;
  margin-top: 0 !important;
  padding-top: 0 !important;
  color: #1abc9c;
}

.formCard {
  padding: 15px;
}

.formCardContainer {
  z-index: 999 !important;
  width: 30%;
  border: 1px solid #e6e6e6;
  right: 50%;
  left: 35%;
  background: #fff;
  top: 100px;
  position: absolute;
  margin-bottom: 5%;
  border-radius: 4px;
}

.errorPayment {
  font-size: 13px;
  position: relative;
  bottom: 20px;
}

.TextField {
  margin-bottom: 0px;
}

.nextButton {
  right: 0;
  overflow: hidden;
  display: block !important;
  margin-top: 30px;
}

.sendOtp {
  position: absolute;
  right: 0;
  bottom: 95px;
  font-size: 14px;
  margin-right: 18px;
  color: rgb(26, 188, 156);
  cursor: pointer !important;
  z-index: 9999;
}

.verifyOTP {
  position: absolute;
  right: 0;
  bottom: 125px;
  font-size: 14px;
  margin-right: 18px;
  color: rgb(26, 188, 156);
  cursor: pointer !important;
  z-index: 9999;
}

@media screen and (max-width: 480px) {
  .formCardContainer {
    width: 100%;
    right: 0%;
    left: 0%;
    top: 0 !important;
    margin: 0 !important;
    position: absolute;
    border: 0;
  }
  body {
    background: #fff;
  }
}

.footerContainer {
  position: fixed;
  bottom: 0;
  text-align: center;
  display: block;
  width: calc(100% - 30px);
  padding: 15px;
  overflow-x: hidden !important;
}

.footerText {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  text-align: center;
}
